.search {
  background-color: #f5f4f6;
  width: 358px;
  height: 46px;
  // margin-left: 200px;
}

.search img {
  width: 20px;
  height: 20px;

  /* background: #7c7c8d; */
}

.search input {
  background-color: #f5f4f6;
}
