button {
  border: none;
  background-color: transparent;
}

.car-card {
  margin-bottom: 20px;
}

.card {
  // width: 325px;
  width: 380px !important;
  border-radius: 30px !important;
  border: none !important;
  /* height: 267px; */
}

.porche {
  width: auto;
  height: 150px;
}
